{% extends "./base.html" %}

{% load static %}

{% block content %}
    <!-- Опис магазину для ЗСУ -->
    <section class="py-4 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h4> Магазин "Збройні Сили України"</h4>
                <br>
                <p class="lead text-muted">
                    Ласкаво просимо до нашого магазину, де ви знайдете найкраще спорядження та обладнання для наших військових та патріотів України.
                </p>
                <br>
                <a href="#" class="btn btn-primary my-2">Створити обліковий запис</a>
            </div>
        </div>
    </section>
{% endblock %}






